xcuserdata/
.DS_Store
.build/

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

Configuration/*