<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_SCHEME</key>
	<string>$(API_SCHEME)</string>
	<key>APPSTORE_ID</key>
	<string>$(APPSTORE_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google login prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.53154288054-ees6nijglr9fhcl7g5t0m4dsq5udqknk</string>
				<string>com.googleusercontent.apps.53154288054-uvb0fq1b24c4vahtab5msddjq4s22206</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dk.nicolaidam.feedback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>letsgrow</string>
			</array>
		</dict>
	</array>
	<key>COMPILER_FLAG</key>
	<string>$(COMPILER_FLAG)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSPinnedDomains</key>
		<dict>
			<key>api.letsgrow.dk</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>NYbU7PBwV4y9J67c4guWTki8FJ+uudrXL0a4V4aRcrg=</string>
					</dict>
				</array>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>GB+A/DV3omNR9OOEckHAROLBsvWuCTJkQHPCbrE8En4=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>SUPPORT_EMAIL</key>
	<string>$(SUPPORT_EMAIL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WEB_BASE_URL</key>
	<string>$(WEB_BASE_URL)</string>
	<key>WEB_SCHEME</key>
	<string>$(WEB_SCHEME)</string>
</dict>
</plist>
